# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# 用于更改JEI功能的高级选项。
##########################################################################################################

advanced {
    S:itemBlacklist <
        minecraft:fish
     >
}


