# Configuration file

~CONFIG_VERSION: 0.1.0

world-1924151708 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-650666355 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world109439231 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world113879 {
    # 给予物品而非显示其合成表
    B:cheatItemsEnabled=true

    # 在列表中点击物品以隐藏或取消隐藏
    B:editEnabled=true
    S:filterText=

    # 在打开的GUI一侧显示物品列表。
    B:overlayEnabled=true
}


world1212521057 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1327532774 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world805325770 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


